.hestia-contact {

  .card-contact {

    @include border-radius(4px);

    .header {
      @include no-box-shadow();
      background-color: #ffffff !important;
      padding: 0;
      margin: 0;

      .card-title {
        color: #2c2c2c;
        font-size: 21px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 15px;
        margin-bottom: 12px;
      }
    }
    .content {

      padding: 20px;


    }
  } /* End of content */
}
